<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WPF_ZooManager.Properties.Settings.PanjutorialsDBConnectionString"
            connectionString="Data Source=DESKTOP-RP67ECH\PANJUTORIALSSQL;Initial Catalog=PanjutorialsDB;Persist Security Info=True;User ID=sa;Password=yourbelief@2;Pooling=False;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>